/* variables */
:root{
--PRIMARY-COLOR:rgb(0, 110, 255);
--SECONDARY-COLOR:rgb(1, 53, 121);
--SECONDARY-FONT: Shrikhand-Regular; 
}

/* Define font */
@font-face{
    font-family: Shrikhand-Regular;
    src:url(Fonts/Shrikhand-Regular.ttf)
    format("truetype");
}

/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Main header display */
.head{
    margin-bottom: 20px;
    background: linear-gradient(to right,var(--PRIMARY-COLOR),var(--SECONDARY-COLOR));
    width: 100vw;
    height: max-content;
    padding: 10px;
}
/* header */
/* Frst line of header (h2 and img) */
.First_line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

/* header */
/* image only */
/* .Home_image,img{
    margin-top: 5px;
} */
/* header */
/* first line only */
.title{
color: white;
}

/* header */
/* Second line */
.sub_title{
    color: white;
    margin-top: 5px;
    margin-left: 45px;
    font-family: var(--SECONDARY-FONT);
    font-weight: lighter;
}

/* New Task  */
.NewTask{
display: flex;
flex-wrap: nowrap;
align-items: center;
column-gap: 20px;
}
/* New Task/sentence */
.NewTask,p{
    font-weight: bold;
    font-size: large;
}


/* New Task/Button */
.CreateTaskButton{
color: var(--PRIMARY-COLOR);
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px  var(--PRIMARY-COLOR);
box-shadow: 2px 3px 5px var(--PRIMARY-COLOR);
font-size: 30px;
font-weight: 60px;
}