/* variables */
:root{
--PRIMARY-COLOR:rgb(0, 110, 255);
--SECONDARY-COLOR:rgb(1, 53, 121);
--SECONDARY-FONT: Shrikhand-Regular; 
}

/* Define font */
@font-face{
    font-family: Shrikhand-Regular;
    src:url(Fonts/Shrikhand-Regular.ttf)
    format("truetype");
}

/* General style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Main header display */
.head{
    margin-bottom: 20px;
    background: linear-gradient(to right,var(--PRIMARY-COLOR),var(--SECONDARY-COLOR));
    width: 100vw;
    height: max-content;
    padding: 10px;
}
/* header */
/* Frst line of header (h2 and img) */
.First_line{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}


.title{
color: white;
}

/* header */
/* Second line */
.sub_title{
    color: white;
    margin-top: 5px;
    margin-left: 45px;
    font-family: var(--SECONDARY-FONT);
    font-weight: lighter;
}

/* New Task  */
.Create_task{
    margin-left: 10px;
}

.NewTask{
display: flex;
flex-wrap: nowrap;
align-items: center;
column-gap: 20px;
margin-bottom: 20px;
}
/* New Task/sentence */
.NewTask,p{
    font-weight: bold;
    font-size: large;
}


/* New Task/Button */
.CreateTaskButton{
color: var(--PRIMARY-COLOR);
width: 30px;
height: 30px;
border-radius: 50%;
border: 2px  var(--PRIMARY-COLOR);
box-shadow: 2px 3px 5px var(--PRIMARY-COLOR);
font-size: 30px;
font-weight: 60px;
}

.CreateTaskButton:hover{
    transform: scale(1.2);
    box-shadow: 5px 6px 7px var(--PRIMARY-COLOR);   
}

/* form */
.Dialog{
    margin-left: 10px;
}

form{
    width: 70%;
}

.label_Input{
display: flex;
flex-wrap: nowrap;
gap: 20px;
font-weight:bold;
margin-bottom: 20px;   
}


input{
    width: 30vw;
    height: 20px;
    display: flex;
    align-items: left;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 5px;
    border: 1px solid gray;
    position: absolute;
    left: 100px;
}

input:focus,input:focus-within{
    border: 2px solid var(--PRIMARY-COLOR);
    outline: none;
}

.confirmation{
display: flex;
align-items: start ;

}

.Btn{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 2px gray;
}

.Btn:hover{
transform: scale(1.2);
}

.Confirm{
    color: white;
    background:linear-gradient(to right, var(--PRIMARY-COLOR),var(--SECONDARY-COLOR));
}

.Cancel{
    color: white;
    background: linear-gradient(to right, red,rgb(206, 0, 0));
}

.Refresh{
    color: black;
    background: rgb(82, 201, 82);
}

/* List items */
.tasks_section{
   margin-left: 10px; 
   margin-bottom: 10px;
}

.Tasks{
    color: white;
    background-color: rgb(138, 138, 138);
    width: 70vw;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.task_decrp{
    background: linear-gradient(to right, var(--PRIMARY-COLOR),var(--SECONDARY-COLOR));
    border-top-right-radius: 20px;
}

.Description{
    font-size: 10px;
}


footer{
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 5px;
}